* {
margin: 0;
padding: 0;
}

html {
background: linear-gradient(purple, navy) no-repeat center center fixed;
}

/* OR, AS AN ALTERNATIVE:
html {
    background: url(images/glasses.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
*/

.logo {
  float:left;
  margin-top: 20px;
  margin-left: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top:30px;
}

.main-nav li {
  display: inline-block;
}

.main-nav li a {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.main-nav li.active a {
  border: 1px solid white;
}

.main-nav li a:hover {
  border: 1px solid white
}
